* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    min-height: 100vh;
    text-align:center;
}
 form {
      display: flex;
    flex-direction: column;
    gap:14px;
    width: 100%;
    box-sizing: 20px;
    align-items: center;
    padding: 40px;


 }

section {
    display: flex;
    flex-direction: column;
    gap:14px;
    width: 100%;
    
    align-items: center;
}

form textarea {
    resize: none;
    width: 100%;
    min-height: 60px;
    padding: 14px;
}

form button {
    padding: 8px;
    cursor: crosshair;
}
.TodoContainer, 
.todo {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.todo {
    padding: 14px;
    border: 1px solid purple;
    background-color: aquamarine;
}

.btncontainer {
    display: flex;
    gap: 14px;
}
.btnicon {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
     padding: 0 8px;
    
    place-items: center;
    aspect-ratio: 1/1;
    

}

.btnicon:hover {
    background: lightgrey;
}


